.top-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    border-bottom: 11px solid black;
}
.top-banner button{
    background-color: #9F755B;
    width: 200px;
    transition: 0.3s ease all;
    margin-top: 50px;
}
.top-banner button:hover{
    background-color: #9F755B;
    width: 200px;
    box-shadow: -5px 5px 10px 0px #ffffff4a;
}
#locate{
    position: relative;
    border-radius: 12px;
    padding: 13px;
    width: 210px;
    background-color: rgba(0, 0, 0, 0);
}
#search{
    /* border: 1px solid white; */
    /* border-radius: 8px; */
    width: 300px;
    margin-top: -3px;
}
.search{
    position: relative;
}
#search span{
    width: 15%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: none;
    font-size: 20px;
}
#search input{
    width: 85%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    padding: 15px;
    /* box-sizing: border-box; */
}
/* .bi-filter-square{
    position: absolute;
    top: 45px;
    right: 50px;
    color: white;
    font-size: 35px;
} */
#shop{
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.92), black);
    width: 100%;
    height: 260px;
    padding-top: 50px;
    box-sizing: border-box;
}
.curvy-background{
    position: absolute;
    /* overflow: hidden; */
    top:100%;
    left:0;
    width: 100%;
    z-index: -1;
}
.free-coffee-banner{
    position: absolute;
    background-color: #9F755B;
    width: 70%;
    max-width: 600px;
    height: 150px;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    /* filter: blur(2px); */
}
.free-coffee-banner-text{
    text-shadow: 0 8px 10px rgba(0, 0, 0, 0.937);
}
.banner-img img{
    position: absolute;
    right: -8%;
    top: 10%;
    rotate: 180deg;
    filter:drop-shadow(0 -8px 10px rgba(0, 0, 0, 0.937));
    width: 130px;
}
.coffee-type{
    margin: 21px;
    margin-right: 0;
    width: 110px;
    height: 25px;
}
.coffee-list {
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}
.coffee-list span{
    padding: 20px;
    scroll-snap-align: start;
}
.bgBox{
    position: relative;
}
.bg{
    position: absolute;
    width: 100%;
    height: 817px;
    z-index: -1;
    background-image: url(https://www.clarencecentercoffee.com/wp-content/uploads/2018/11/coffee_beans_PNG9273-1.png);
    opacity: 0.9;
    filter: brightness(0.4);
    top: -700px;
    left: 0;
} 
.product .card{
    border: none;
    margin: 20px auto;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.85;
    box-shadow: -5px 5px 20px rgba(141, 96, 45, 0.466);
    transition:0.5s ease-in all;
}
.product .card img{
    width: 200px;
    object-fit: contain;
    cursor: pointer;
    filter: brightness(1.1);
}
.product .card:hover{
    box-shadow: none;
}

.product .card img:hover{
    animation: pop 1.2s;
}

.details{
    backdrop-filter: blur(5px);
    filter: brightness(2);
    color: black;
    border-radius: 5px;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s ease;
    z-index: -5;
}
.details button, .modal .modal-body button{
    width: 80px;
    background-color: black;
    color: white;
}
#place-order{
    background-color: black;
    transition: .3s ease all;
}
.details button:hover, .modal .modal-body button:hover, #place-order:hover{
    background-color: #57331ce1;
}

.col-6:hover .details{
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.img-container{
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}
.img-container img{
    width: 500px;
    height: auto;

}
/* .modal-dialog{
    background-color: white;
    width: 100vw;
    height: 100vh;
} */
.add-to-cart-btn button{
    font-size: 12px;
}
.qty{
    height:50px;
}
.cart-alert{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    opacity: 0;
    transition: .5s ease-out all;
}
.cart-alert.active{
    top: 30px;
    opacity: 1;
    z-index: 9999;
}

.cart-container{
    height: 130%;
    position: absolute;
    top: calc(100vh + 95px);
    right: 6%;
    
}
#filter{
    position: sticky;
    top: 100px;
    background-color: #9F755B;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center ;
    filter: drop-shadow(0 0 20px #9a9796b9);
    overflow: hidden;
    cursor: pointer;
}
.bi-cart2{
    font-weight: bold;
    color: white;
    font-size: 30px;
    transition: .5s ease;
}
#filter:hover .bi-cart2{
    animation: tilt 1.1s ease-in;
}
.cart-streaks{
    filter: invert();
    display: none;
    transform: translateY(8px) translateX(-20px);
}
#filter:hover .cart-streaks{
    /* transform:rotate(180deg); */
    display: block;
    animation: move 1.2s  ease-in;
}
.order-card{
    position: fixed;
    top: 30%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 500px 20px black;
    transform: translateX(30%);
    display: none;
    /* opacity: 0.8; */
    transition: .5s ease all;
    background-color: white;
    z-index: 5000;
    width: 60vw;
    min-width: 300px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    color: black;
    text-shadow: 0 0 1px black;
    border: 2px solid black;
    /* display: flex; */
}
#close-order-card{
    position: absolute;
    right: 20px;
    top: 40px;
}
#confirmOrder{
    display: block;
    margin: 50px auto 10px;
    padding: 10px 40px;
    background-color: black;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    min-width: 200px;
}
.order-items{
    /* border: 2px solid green; */
    border-radius: 5px;
    padding: 8px;
    margin: 0;
}
@keyframes move{
    35%{
        transform: scale(1.2) translateX(2px) translateY(8px);
    }
    100%{
        transform:translateX(2px) translateY(8px);
    }
}
@keyframes tilt {
    10%{
        transform: scale(1.4);
    }
    20%{
        transform: scale(1.4) translateX(0px);
    }
    40%{
        transform: scale(1.2) translateX(15px);
    }
    100%{
        transform:translateX(15px);
    }
}

@keyframes pop{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width:767px){
    .free-coffee-banner{
        margin-top: 0px;
    }
    .free-coffee-banner-text{
    width: 250px;
    }   
    .cart-container{
        height: 130%;
        top: calc(100vh + 162px);
    }
}
@media screen and (max-width:680px){
    .cart-container{
        right: 20px;
    }
}
@media screen and (max-width:570px){
    .free-coffee-banner-text{
        width: 230px;
        } 
    .col-6 .details{
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}
}
@media screen and (max-width:450px){
    .coffee-type{
        width: 70px;
    }
    .banner-img img{
        width: 100px;
        right: -15%;
        top: 15%;
    }
    .free-coffee-banner{
        height: 120px;
    }
    .free-coffee-banner-text{
        width: 200px;
        } 
    .product .card{
         width: 170px;
    }
    #search{
        width: 250px;
    }
}

